<%= form_for(current_user, :as => current_user, :url => registration_path(current_user), :html => { :method => :put }) do |f| %>


<br />
<br />

<div id="edit_password">

<span class="label_margin_right"><%= f.label :password, "New Password" %></span>
<%= f.password_field :password, :class => "round tb" %> 
</div>

<div id="edit_update">
  <p><%= f.submit "Update" %></p>
</div>
<% end %>